
body{
	overflow-x: hidden;
}
/* Header Nav Bar Section */
.banner_outer .header {
	padding: 0 2% !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  align-items: center;
}
.navbar-nav .nav-item a {
  font-size: 14px;
  line-height: 14px;
}
.navbar-nav li,
.navbar-nav .dropdown {
  margin: 0 2px;
}
.last_list {
  margin: 0% 1%;
  padding: 0 0.5%;
  border-radius: 15px;
  border: 1px solid rgba(45, 199, 162, 1);
}
.last_list .content {
  padding: 0px;
  display: flex;
  align-items: center;
}
.last_list .content i {
  font-size: 22px;
  line-height: 28px;
  padding-left: 10px;
}
.last_list .call_us {
  background: transparent;
  color: var(--e-global-color-white);
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  padding: 14px 10px;
  letter-spacing: 0px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.last_list .call_us:hover {
  background: transparent;
  color: var(--e-global-color-white);
}
.get_started {
  background: rgba(45, 199, 162, 1);
  color: var(--e-global-color-white);
  border: 2px solid rgba(45, 199, 162, 1);
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 14px 18px;
  margin-right: -4px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.get_started:hover {
  background: var(--e-global-color-text);
  color: var(--e-global-color-white);
}
.banner_outer .header .icon {
  display: none;
}

/* Style for the back to top button */
.toplink {
  display: block;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  background: rgba(45, 199, 162, 1);
  color: #d5eff4 ;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  z-index: 1000;
}
.toplink.show {
  opacity: 1;
  visibility: visible;
}
.toplink i {
  font-size: 1.5rem;
  font-weight: bold;
}

/* =============== HOME PAGE ==================*/

/* Slider */
.banner-section .banner_content {
  border-radius: 0 10% 0 0;
}
/* .banner-section .banner_content .banner-leftbottomlayer {
	border-radius: 0 10% 0 0;
	background-color: rgba(0, 0, 0, 0.009);
	mix-blend-mode: multiply;
} */
.banner-section .banner_content .box {
  display: none;
}
.banner-section .banner_content h1,
.banner-section .banner_content span {
  font-weight: bolder;
}
.banner-section .banner_content .read_more {
  background: rgba(45, 199, 162, 1);
}
.banner-section .banner_content .button2 {
  background: transparent;
  border: 1px solid rgba(45, 199, 162, 1);
}
.banner-section .pagination-outer {
  bottom: 10px;
}
.pagination-outer .carousel-control-prev,
.pagination-outer .carousel-control-next {
  width: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Home-About */
.about-new {
  background: var(--e-global-color-white);
  padding: 5% 2.5%;
  z-index: -99;
}
.about-new .about_content {
  margin-top: 2.5%;
  text-align: start;
}
.about-new .about_content .content {
  top: 0;
  padding-top: 2%;
}
.about-section .about-image-one {
  top: 10%;
}
.about-section .about-image-two {
  top: 20%;
}
.about-section .about-image-two :before {
  content: "";
  position: absolute;
  background: #1273eb;
  border-radius: 15px;
  width: 95%;
  height: 100%;
  z-index: -1;
  left: -5%;
  top: 5%;
}
.about-new .about_content h6 {
  background: url("/assets/images/title-style.png") no-repeat left top !important;
}
.about-new .about_content h6,
.about-new .about_content .content h1,
.about-new .about_content .content span {
  font-weight: bolder;
}
.about-new .about_content .text {
  font-family: "Montserrat", sans-serif;
}
.about-new .about_content .text1 {
  margin-bottom: 40px;
}
.about-new .about_content .text:hover {
  color: var(--e-global-color-secondary);
}
.about-new .about_content .list-unstyled {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0;
  list-style-type: none;
}
.about-new .about_content .list-unstyled li {
  margin: 0;
}
.about-new .about_content ul li {
  margin-bottom: 8px !important;
  padding-left: 5px !important;
}
.about-new .about_content ul li i {
  background: rgba(208, 227, 251, 1);
  border-radius: 100px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  text-align: center;
  margin-right: 2%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.about-new .about_content ul li i:before {
  font-size: 18px !important;
}
.about-new .about_content .read_more {
  background: rgba(45, 199, 162, 1);
  color: var(--e-global-color-white);
  border: 2px solid var(--e-global-color-white);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 22px 46px;
  margin-right: -4px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.about-new .about_content .read_more:hover {
  background: var(--e-global-color-text);
}

/* Home-Service */
.service-new {
	background-image: url("/assets/images/banner-leftbottomlayer.png");
	background-color: var(--e-global-color-light-grayish-cyan);
	mix-blend-mode: multiply;
  padding: 5% 2.5%;
  margin: 0%;
}
.service-new .service_content {
  padding: 5% 2.5%;
  text-align: start;
}
.service-new .service_content .content {
  top: 0;
  padding-top: 2%;
}
.service-new .service_content h6 {
  background: url("/assets/images/title-style.png") no-repeat left top !important;
}
.service-new .service_content h6,
.service-new .service_content .content h1,
.service-new .service_content .content span {
  font-weight: bolder;
}
.service-new .service_content .text {
  font-family: "Montserrat", sans-serif;
}
.service-new .service_content .read_more {
  background: rgba(45, 199, 162, 1);
  color: var(--e-global-color-white);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 22px 46px;
  margin-right: -4px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.service-new .service_content .read_more:hover {
  background: var(--e-global-color-text);
}

.service-new .service_contentbox .service-box,
.service-new .service_contentbox .service-box:hover {
  background: var(--e-global-color-white);
  border-radius: 20px;
  padding: 5% 10%;
  margin-bottom: 0%;
  border: 0;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 21px 46px rgb(146 146 146 / 10%);
  width: 100%;
  min-height: 275px;
}
.service-new .service_contentbox .row > div {
  padding: 1%;
}
.service-new .service_contentbox .row > :nth-child(-n + 3) .service-box {
  border-top: 10px solid ;
}
.service-new .service_contentbox .row > :nth-last-child(-n + 3) .service-box {
  border-bottom: 10px solid;
}
.service-new .service_contentbox .row > :nth-child(1) .service-box {
  border-color:  #2EC761;
}
.service-new .service_contentbox .row > :nth-child(2) .service-box {
  border-color: #000b35;
}
.service-new .service_contentbox .row > :nth-child(3) .service-box {
  border-color: #1273eb;
}
.service-new .service_contentbox .row > :nth-last-child(1) .service-box {
  border-color: #2EC761;
}
.service-new .service_contentbox .row > :nth-last-child(2) .service-box {
  border-color: #000b35;
}
.service-new .service_contentbox .row > :nth-last-child(3) .service-box {
  border-color: #1273eb;
}
.service-section .service_contentbox .service-box:hover {
  background: var(--e-global-color-dark-grayish-blue);
  transform: none;
}
.service-section .service-box h5 {
	font-size: 28px;
	font-weight: 800;
	line-height: 30px;
}
.service-section .service-box p {
	font-size: 16px;
	font-weight: 500;
}
.service-section .service-box:hover h5,
.service-section .service-box:hover p  {
	color: var(--e-global-color-white);
}
.service-section .service_contentbox .service-box figure {
  background: transparent;
  border-radius: 6px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 24px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.service-section .service_contentbox .service-box figure img {
  width: 100%;
}
.service-section .service_contentbox .service-box figure:hover {
  transform: translateY(-5px);
}
.service-section .service-box:hover figure {
  background: transparent;
}
.service-section .service-box:hover img {
  filter: brightness(0) invert(1);
}


/* Home-review */
.review-new {
  background: var(--e-global-color-white);
}
.review-new .review_content {
  padding: 5% 2.5%;
  text-align: start;
}
.review-new .review_content h6 {
  background: url("/assets/images/title-style.png") no-repeat left top !important;
}
.review-new .review_content h6,
.review-new .review_content h1,
.review-new .review_content span {
  font-weight: bolder;
}
.review-new .review_content .text {
  font-family: "Montserrat", sans-serif;
}
.review-new .review_content .watch_reviews {
  background: rgba(45, 199, 162, 1);
  color: var(--e-global-color-white);
  border: 2px solid var(--e-global-color-white);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 22px 46px;
  margin-right: -4px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.review-new .review_content .watch_reviews:hover {
  background: var(--e-global-color-text);
}
.review-section .review_wrapper {
  top: 15%;
  left: -45%;
}
.review-section .review_wrapper .rating1{
  background: transparent;
  box-shadow: none;
  padding: 0;
  /* padding: 10% 5%; */
  width: 72%;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  right: -60%;
  top: 15%;
}
.review-section .review_wrapper .rating1 .review-image{
  position: relative;
  z-index: -99;
}
.review-section .review_wrapper .rating2{
  padding: 34px 22px;
  width: 63%;
  position: relative;
  z-index: 0;
  right: -122px;
  top: 14px;
}
.review-section .review_wrapper .rating1 figure img{
  border-radius: 100px;
  border: 1px solid var(--e-global-color-accent);
  padding: 6px;
}
.review-section .review_wrapper .rating1 .review-willimage{
  position: absolute;
  top: 26px;
  left: 20px;
}
.review-section .review_wrapper .rating1 .review-mariaimage{
  position: absolute;
  top: 20px;
  left: 16px;
}
.review-section .review_wrapper .rating1 .content{
  padding-left: 122px;
}
.review-section .review_wrapper .rating2 .content{
  padding-left: 106px;
}
.review-section .review_wrapper .rating2 .content h5 {
  letter-spacing: 0.2px;
}
.review-section .review_wrapper .rating1 .content h5{
  color: var(--e-global-color-secondary);
  letter-spacing: 0.8px;
  word-spacing: 1.4px;
}
.review-section .review_wrapper .rating1 .content .text-size-16{
  display: contents;
}
.review-section .review_wrapper .rating1 a{
  font-size: 18px;
  line-height: 18px;
  margin-right: 2px;
  color: #ffd800;
}
.review-section .review_wrapper .icon1 img{
  border-radius: 100px;
}
.review-section .review_wrapper .review-image1{
  position: absolute;
  right: 25%;
  top: -5%;
  z-index: 999;
}
.review-section .review_wrapper .review-image2{
  position: absolute;
  right: -10%;
  top: -20%;
  z-index: 999;
}
.review-section .review_wrapper .review-image3{
  position: absolute;
  right: 10%;
  top: 90%;
  z-index: 999;
}
.review-section .review_wrapper .review-stats{
  position: absolute;
  right: -45%;
  top: 50%;
  z-index: 999;
}
.review-section .review_wrapper .review-barchartimage{
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 999;
}
.review-section .review_wrapper .review-contactformimage{
  position: absolute;
  right: -40%;
  top: 15%;
  z-index: 999;
}
.review-section .review_wrapper .review-sendimage{
  position: absolute;
  right: -20%;
  top: 90%;
  z-index: 999;
}

/* Home-Choose-Us */
.choose-new {
  padding: 12% 0 5%;
  margin: 0%;
}
.choose-section .choose-box .get_started {
  background: rgba(45, 199, 162, 1);
}
.choose-section .choose-image{
  top: 8%;
  right: 0%;
}
.choose-section .choose-box{
  top: -14%;
}

/* Home-Our-Process */
.process-new {
  padding: 5% 2.5%;
  margin: 0%;
}
.process-new .process_content {
  padding: 2.5%;
  text-align: center;
}
.process-new .process_content .content {
  top: 0;
  padding-top: 2%;
}
.process-new .process_content h6 {
  background: url("/assets/images/title-style.png") no-repeat center top !important;
}
.process-new .process_content h6,
.process-new .process_content h1,
.process-new .process_content span {
  font-weight: bolder;
}
.process-new .process_content .text {
  font-family: "Montserrat", sans-serif;
}
.process-new .long-line{
  position: relative;
  z-index: 1;
  top: 340px;
  border-bottom: 1px solid var(--e-global-color-very-light-gray);
}
.process-new .process-box {
  background: var(--e-global-color-light-grayish-cyan);
  border-radius: 15px;
  padding: 10% 10% 5%;
  /* padding: 60px 42px 38px; */
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 21px 46px rgb(146 146 146 / 10%);
  position: relative;
  z-index: 1;
  min-height: 250px;
  text-align: start;
}
.process-new .process-box h5{
  font-size: 28px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 1.2px;
  word-spacing: 1.4px;
  transition: all 0.3s ease-in-out;
}
.process-new .process-box .heading3{
  margin-right: 60px;
}
.process-new .process-box hr {
  width: 50%;
  top: -5px;
  left: 0px;
  position: relative;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
}
.process-section .process-box:hover hr{
  border: 1px solid var(--e-global-color-white) !important;
}
.process-new .process-box p{
  margin-right: 0px;
  transition: all 0.3s ease-in-out;
}
.process-new .process-box:hover {
  transform: translateY(-5px);
  background: var(--e-global-color-dark-grayish-blue);
}
.process-new .col-lg-4:nth-child(3n+1) .process-box {
  border-top: 10px solid #2EC761;
}
.process-new .col-lg-4:nth-child(3n+3) .process-box {
  border-top: 10px solid #1273eb;
}
.process-new .col-lg-4:nth-child(3n+2) .process-box {
  border-bottom: 10px solid #000b35;
}
.process-new .col-lg-4:nth-child(3n+1) .process-box hr {
  border: 1px solid  #2EC761;
}
.process-new .col-lg-4:nth-child(3n+2) .process-box hr {
  border: 1px solid #000b35;
}
.process-new .col-lg-4:nth-child(3n+3) .process-box hr {
  border: 1px solid #1273eb;
}

/* Home-Our-Team */
.team-new {
  padding: 5% 2.5%;
  margin: 0%;
}
.team-new .team_content {
  padding: 5% 2.5%;
  text-align: center;
}
.team-new .team_content .content {
  top: 0;
  padding-top: 2%;
}
.team-new .team_content h6 {
  background: url("/assets/images/title-style.png") no-repeat center top !important;
}
.team-new .team_content h6,
.team-new .team_content h1,
.team-new .team_content span,
.team-new .lower-portion h4  {
  font-weight: bolder;
}
.team-new .team_content .text {
  font-family: "Montserrat", sans-serif;
}
.team-new .lower-portion .team-box{
  border: 8px solid var(--e-global-color-light-grayish-cyan);
  border-radius: 15px;
  padding: 40% 2% 5%;
  margin: -35% 2% 10%;
}
.team-new .lower-portion hr{
  opacity: 0.75;
  border: 1px solid #2EC761;
}

/* Home-Testimonial */
.testimonial-new {
  padding: 5% 2.5%;
  margin: 0%;
}
.testimonial-new .testimonial-backgroundlayer{
  background-color: rgba(0, 0, 0, 0.03);
	mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  top: 0;
}
.testimonial-new .testimonial_content {
  padding: 2.5%;
  text-align: center;
}
.testimonial-new .testimonial_content .content {
  top: 0;
  padding-top: 2%;
}
.testimonial-new .testimonial_content h6 {
  background: url("/assets/images/title-style.png") no-repeat center top !important;
}
.testimonial-new .testimonial_content h6,
.testimonial-new .testimonial_content h1,
.testimonial-new .testimonial_content span {
  font-weight: bolder;
}
.testimonial-new .testimonial_content .text {
  font-family: "Montserrat", sans-serif;
}
.testimonial-section .image figure {
  position: relative; 
  left: 150px;
}
.testimonial-new .testimonial-box{
  position: relative;
  background: var(--e-global-color-white);
  border-radius: 15px;
  padding: 15% 5% 8%;
  box-shadow: 2px 12px 24px 6px rgba(128, 128, 128, 0.1);
}
.testimonial-new .testimonial-box::after {
  content: '';
  height: 40px;
  width: 60px;
  position: absolute;
  background-color: var(--e-global-color-white);
  top: -13px;
  left: 42.5%;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}
.testimonial-new .testimonial-box h5{
  font-weight: bolder;
}
.testimonial-new .testimonial-box span{
  font-weight: 500;
}
.testimonial-new .testimonial-box ul li a{
  color: #2EC761;
}
.testimonial-new .testimonial-box ul li i{
  font-size: 16px;
  line-height: 16px;
}
.testimonial-new .testimonial-box hr {
  width: 100%;
  top: 0px;
  left: 0px;
  position: relative;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #1273eb !important;
}
.testimonial-new .testimonial-box:hover hr{
  border: 1px solid var(--e-global-color-dark-gray) !important;
}

/*  Home-FAQ's */
.faq-new {
  padding: 5% 2.5%;
  margin: 0%;
}
.faq-new .faq_content {
  padding: 2.5% 0%;
}
.faq-new .faq_content .content {
  top: 0;
  padding-top: 2%;
}
.faq-new .faq_content h6 {
  background: url("/assets/images/title-style.png") no-repeat center top !important;
}
.faq-new .faq_content h6,
.faq-new .faq_content h1,
.faq-new .faq_content span {
  font-weight: bolder;
}
.faq-new .faq_content .text {
  font-family: "Montserrat", sans-serif;
}
.faq-new .accordion-button {
  font-size: 20px;
  font-weight: 500;
}
.faq-new .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%231273eb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
.faq-new .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%231273eb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
} 
.faq-new .accordion-button:not(.collapsed),
.faq-new .accordion-body{
  font-weight: bolder;
  color: #052c65;
  background-color: #cfe2ff;
  box-shadow: inset 0 calc(-1 * 1px) 0 #dee2e6;
}
.faq-new .accordion-body {
  font-size: 18px;
  font-weight: 300;
}
.accordion-item {
  color: #212529;
  background-color: #fff;
  border-bottom: 2px solid #dee2e6 !important;
}
.accordion-item:first-child{
  border-top: 2px solid #dee2e6 !important;
}

/* Home-Contact */
.contact-new {
  padding: 5% 2.5%;
  margin: 0%;
  background: url("/assets/images/contact-background.png") var(--e-global-color-light-grayish-cyan) no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}
.contact-new .contact_content h6 {
  background: url("/assets/images/title-style.png") no-repeat left top !important;
}
.contact-new .contact_content h6,
.contact-new .contact_content h1,
.contact-new .contact_content span {
  font-weight: bolder;
}
.contact-new .contact_content .text {
  font-family: "Montserrat", sans-serif;
}
.contact-new .contact_box .form-group span {
  display: block;
  margin-bottom: 10px;
  margin-left: 0px;
  color: var(--e-global-color-black);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.contact-new .contact_box input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--e-global-color-very-dark-gray);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--e-global-color-white);
  border: 1px solid var(--e-global-color-light-gray);
  border-radius: 8px;
  padding: 21px 20px 21px 26px;
  margin-bottom: 15px;
  width: 100%;
  overflow: visible;
  outline: none;
}
.contact-new .contact_box textarea {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--e-global-color-very-dark-gray);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--e-global-color-white);
  border: 1px solid var(--e-global-color-light-gray);
  border-radius: 8px;
  padding: 21px 20px 21px 26px;
  width: 100%;
  height: 100%;
  margin-bottom: 38px;
  resize: none;
  outline: none;
  overflow: auto;
}
.contact-new .contact_box .submit_now {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 20px 54px;
  border-radius: 8px;
  color: var(--e-global-color-white);
  background-color: #000b35;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
  text-align: center;
  outline: none;
  border-style: none;
  width: 100%;
}
.contact-new .contact_content .box {
  background: transparent;
  padding: 0;
  margin: 1% 0 3%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border-left: 0px solid var(--e-global-color-very-soft-cyan);
  width: 100%;
}
.contact-new .contact_content .box .icon{
  border-radius: 50px;
  background: var(--e-global-color-white);
  border: 1px solid var(--e-global-color-white);
}
.contact-section .contact_content .box img{
  height: 100%;
  width: 100%;
  filter: invert(1); 
  padding: 20%;
}
.contact-section .contact_content .box a{
  font-size: 24px;
  font-weight: 700;
}

/*  Home-Footer */
.footer-new {
  padding: 5% 2.5% 1%;
  margin: 0%;
  background: url("/assets/images/footer-background.png") no-repeat center bottom/cover;
  background-color: #000b35;
  mix-blend-mode: multiply;
}
.footer-new .middle-portion {
  margin-bottom: 3%;
}
.footer-new .middle-portion .footer-logo {
  margin-bottom: 0%;
}
.footer-new .copyright{
  padding: 2% 5%;
}
.footer-new .copyright p a{
  text-decoration: none;
}



/* ============== ABOUT PAGE ================ */

/* Sub-Banner */
.aboutpage{
  padding: 2.5% 2.5% 10%!important;
  margin: 0%;
  background: var(--e-global-color-white);
}
.aboutpage .about_content {
  padding: 5% 2.5%;
  text-align: start;
}
.aboutpage .about_content .content {
  top: 0;
  padding-top: 2%;
}
.aboutpage .about_content h6 {
  background: url("/assets/images/title-style.png") no-repeat left top !important;
}
.aboutpage .about_content h6,
.aboutpage .about_content .content h1,
.aboutpage .about_content .content span {
  font-weight: bolder;
}
.aboutpage .about_content .text {
  font-family: "Montserrat", sans-serif;
}
.aboutpage .banner-backgroundimage{
  position: relative;
  top: 65% !important;
  left: 2%;
}
.aboutpage .banner-backgroundimage img{
  border-radius: 30px !important;
}
.aboutpage-banner {
  padding: 15%;
  background: url("/assets/images/subbanner-leftbottomlayer.png"), var(--e-global-color-light-grayish-cyan);
  background-blend-mode: multiply;
}

/* Mission-Vission */
.mission-vision{
  padding: 5% 2.5%;
  margin: 0%;
  background: var(--e-global-color-white);
}
.mission-vision_content {
  padding: 2.5%;
  text-align: start;
}
.mission-vision_content .content {
  top: 0;
  padding-top: 2%;
}
.mission-vision_content .content h4,
.mission-vision_content .content span {
  font-weight: bolder;
  color: #1273eb;
}
.mission-vision_content .text {
  font-family: "Montserrat", sans-serif;
}
.mission-vision_content .content p {
  font-weight: bolder;
}
.mission-vision ul li{
  padding: 1% 0%;
}
.mission-vision ul li i {
  background: rgba(208, 227, 251, 1);
  border-radius: 100px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  text-align: center;
  margin-right: 2%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.mission-vision ul li i:before {
  font-size: 18px !important;
}

/* Why Choose Us */
.why-choose{
  padding:2.5%;
  margin: 0%;
  background: var(--e-global-color-very-dark-gray-mostly-white);
}
.why-choose .container-fluid{
  border-radius: 25px;
  background: var(--e-global-color-white);
}
.why-choose_content {
  padding: 2.5%;
  text-align: center;
}
.why-choose_content h1,
.why-choose_content span {
  font-weight: bolder;
}
.why-choose_content span {
  color: #1273eb;
}
.why-choose_content .text {
  font-family: "Montserrat", sans-serif;
}
.why-choose_content h2{
  margin-bottom: 5%;
  font-weight: 700;
}
.why-choose_content .content {
  padding: 5% 2.5%;
}
.why-choose_content .content img {
  border-radius: 25px;
}
.align-items-first-baseline{
  display: flex;
  align-items: first baseline;
}
.align-items-last-baseline{
  display: flex;
  align-items: last baseline;
}
.why-choose .choose-us{
  display: flex;
  justify-content: center;
}
.why-choose .choose-us .col-md-6,
.why-choose .choose-us .col-lg-6,
.why-choose .choose-us .col-sm-12,
.why-choose .choose-us .col-12{
  padding: 0;
  margin: 0%;
}
.why-choose .choose-us,
.why-choose .why-choose_content {
  padding: 0% 1%;
  margin: 0.5% 1%;
}
.why-choose .why-choose_content .content{
  padding: 0% 5% !important;
}

/* Our Clients */
.our-clients{
  padding:2.5%;
  margin: 0%;
  background: var(--e-global-color-white);
}
.our-clients_content {
  padding: 2.5%;
  text-align: start;
}
.our-clients_content h1,
.our-clients_content span {
  font-weight: bolder;
}
.our-clients_content span {
  color: #1273eb;
}
.our-clients_content .text {
  font-family: "Montserrat", sans-serif;
}





/* ============== CONTCAT PAGE ================ */
/* Contact About */
.contactpage{
  padding:2.5%;
  margin: 0%;
  background: transparent;
}
.contactpage .contact_content {
  padding: 2.5%;
  text-align: center;
}
.contactpage .contact_content h1,
.contactpage .contact_content span {
  font-weight: bolder;
}
.contactpage .contact_content span {
  color: #1273eb;
}
.contactpage .contact_content h6 {
  background: url("/assets/images/title-style.png") no-repeat center top !important;
}
.contactpage .contact_content .text {
  font-family: "Montserrat", sans-serif;
}
.contactpage .contact_content p{
  padding: 1% 15%;
}
.contactpage-section .container{
  padding: 5% 2.5%;
  border-radius: 25px;
  background: var(--e-global-color-very-dark-gray-mostly-white);
}
.contact_map_section iframe {
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  width: 100%;
}









/* ============== RESPONSIVE FOR ALL PAGES ================ */
@media only screen and (max-width: 991px) {
  .navbar-nav .nav-item a,
  .navbar-collapse .get_started {
    padding: 12px 30px !important;
    color: var(--e-global-color-primary) !important;
    margin-top: 0;
    text-transform: uppercase;
    border: 0;
    background: transparent;
  }
  .navbar-nav .active > a {
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
  }
  .navbar-nav .nav-item a:hover {
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
  }
  .navbar-collapse {
    background: var(--e-global-color-white);
    position: absolute;
    right: 0px;
    width: 100%;
    top: 115%;
    z-index: 16;
    padding: 0;
    box-shadow: 1px 1px 57px rgba(0 0 0 / 7%);
  }
  .navbar-toggler {
    margin-left: auto;
    border: none !important;
    padding: 0% !important;
    width: 30px;
    height: 22px;
  }
  .about-new .about_content,
  .about-new .about-image-one .about-image{
    display: block;
  }
  .about-section .about-image-one {
    top: -5%;
    left: 0%;
  }
  .about-section .about_wrapper .about-image {
    position: relative;
  }
  .choose-section .choose-box {
    top: 0% !important;
  }
  .service-new .service_contentbox .row > div {
	  padding: 2%;
  }
  .service-section .service_contentbox .service-box {
	  text-align: start;
  }
  .service-section .service_contentbox .service-box figure img {
    width: 100%;
  }
  .service-new .service_contentbox .service-box,
  .service-new .service_contentbox .service-box:hover {
    min-height: 225px;
  }
  .service-section .service_contentbox .service-box figure {
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
  .service-section .service-box h5 {
    font-size: 26px;
    line-height: 30px;
  }
  .service-section .service-box p {
    font-size: 14px;
  }
  .review-section .review_wrapper .review-barchartimage {
    display: block;
  }
  .choose-section .choose-box ul li .circle {
    display: inline-block;
  }
  .process-new .process-box {
    min-height: 300px;
  }
  .process-new .process-box hr {
    left: -40px;
  }
  .team-new .lower-portion .team-box{
    padding: 25% 5% 5%;
    margin: -25% 5% 15%;
  }
  .team-section .lower-portion hr {
    width: 50%;
    margin: 0 25%;
  }
  .testimonial-section .image figure {
    left: 83.5px;
  }
  .contact-new .contact_content h6 {
    background: url(/assets/images/title-style.png) no-repeat center top !important;
  }
  .contact-new .contact_content .box .icon{
    border-radius: 50px;
    background: var(--e-global-color-white);
    border: 1px solid var(--e-global-color-white);
    top: 0;
  }
  .contact-section .contact_content .box img{
    height: 50px !important;
    width: 50px !important;
    filter: invert(1); 
    padding: 20%;
  }
  .contact-section .contact_content .box span{
    font-size: 16px;
  }
  .contact-section .contact_content .box a{
    font-size: 20px;
  }
  .contact-new .contact_box {
    display: flex;
    margin: 5% !important;
    align-items: center;
    justify-content: center;
  }
  .sub-banner .banner-section .banner_content .box {
	  right: -40px !important;
  }
  .contact_map_section iframe {
	  max-width: 100%;
	  filter: none;
  }
  .footer-section .middle-portion .footer-logo {
    top: 0px;
  }
  .aboutpage {
    padding: 2.5% 2.5% 15% !important;
  }
  .aboutpage .banner-backgroundimage {
    left: 5%;
  }
  .why-choose .choose-us {
    align-items: center;
  }

}
@media only screen and (max-width: 767px) {
  .sub-banner .banner-section .banner_content .box {
	  right: 40px !important;
  }
  .process-section .box-outer .line {
    right: 195px; 
  }
  .process-new .process-box {
    padding: 5%;
    min-height: 200px;
  }
  .process-new .process-box hr {
    left: 0px;
  }
  .team-section .lower-portion hr {
    width: 50%;
    margin: 0 25%;
  }
  .testimonial-section .image figure {
    left: 160px;
  }
  .contact-section .contact_content .box span{
    font-size: 14px;
  }
  .contact-section .contact_content .box a{
    font-size: 18px;
  }
  .contact-new .contact_box {
    margin: 5% 0% !important;
  }
  .contactinfo-section .col-12 {
	  left: 5%;
  }
  .aboutpage .about_content {
    padding: 1.5% 2.5% 1%;
  }
  .aboutpage {
    padding: 2.5% 2.5% !important;
  }
  .aboutpage .banner-backgroundimage {
    left: 0%;
  }
  .aboutpage-banner,
  .mission-vision hr {
    display: none;
  }
  .mission-vision_content {
    padding: 1% 2.5%;
  }
  .why-choose .choose-us,
  .why-choose .why-choose_content,
  .why-choose .why-choose_content .content{
    padding: 1%;
    margin: 1%;
    align-items: center;
  }


  /* .footer-section .icon {
	  margin-top: 5%;
  }
  .footer-section .middle-portion input {
    padding: 5% !important;
    height: 35px !important;
    width: 95%;
    margin: 5%;
  } 
  .footer-section .subscribe_now {
    font-size: 16px !important;
    line-height: 16px !important;
    right: 1% !important;
    top: 25%;
    width: 30% !important;
    height: 50% !important;
  }

  .footer-new .middle-portion >.row{
    display: flex;
  }
  .footer-new .middle-portion .links {
    text-align: start;
  }
  .footer-new .middle-portion .links2 {
    text-align: end;
  }
  .footer-section .middle-portion .links li,
  .footer-section .middle-portion .links2 li {
    margin: 0% 0.75%;
  }
  .footer-section .middle-portion a {
    font-size: 12px;
    font-weight: 300;
  }   */
}
